*.log
*.err
*.pyc
*.swp
TAP/.idea/*
**/__pycache__/*
**/output/*
TAP/data/.DS_Store
TAP/docs/build
TAP/results/*
TAP/build
TAP/dist
TAP/boards/*
*.egg-info/
TAP/checkpoint
*.pth
*.ckpt
*_cache
TAP/.cache
TAP/save
TAP/.eggs
TAP/eggs/
*.egg
TAP/.DS_Store
TAP/.vscode/*
*.so
*-checkpoint.ipynb
*legacy*
**/imdb/*
