torch==1.6.0
torchvision==0.7.0
tensorboardX>=1.2
numpy>=1.14
tqdm>=4.19
botocore==1.18.18
boto3==1.15.18
demjson==2.2.4
torchtext==0.6
PyYAML
pytest==5.2.0
requests==2.21.0
fastText==0.9.1
nltk==3.4.5
pytorch-transformers==1.2.0
editdistance
